@import url(fuentes.css);

.cen{
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-404{
    width: 45%;
}

p{
    font-family: 'OpenSans-Regular';
    color: #666666;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 1rem;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btnReturn {
    background-image: -moz-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
    background-image: -webkit-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
    background-image: -ms-linear-gradient(0deg, #06c6f9 0%, #38eaf9 100%);
    font-size: 16px;
    font-family: 'OpenSans-Semibold';
    color: #fff;
    border-radius: 50px;
    border: #06c6f9;
    padding: .5rem 4rem .5rem 4rem;
    text-transform: uppercase;
    text-decoration: none !important;
}